#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

include /usr/share/dpkg/architecture.mk

# Support older distros without GTK4
ifneq ("$(shell dpkg -l | grep libgtk-4-dev)","")
	GTK4=yes
else
	GTK4=no
endif

%:
	dh $@

override_dh_auto_configure:
	intltoolize --force
	dh_auto_configure -- \
		--with-gnome \
		--with-gtk4=$(GTK4) \
		--libexecdir=/usr/lib/NetworkManager \
		--disable-static

execute_before_dh_install:
	find debian/tmp -name '*.la' -print -delete

override_dh_makeshlibs:
	dh_makeshlibs -X/usr/lib/$(DEB_HOST_MULTIARCH)/NetworkManager/
